<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ClientesSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ClientesSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://corebanco20230422004045.azurewebsites.net/Clientes.asmx"
                binding="basicHttpBinding" bindingConfiguration="ClientesSoap"
                contract="CoreClientes.ClientesSoap" name="ClientesSoap" />
        </client>
    </system.serviceModel>
</configuration>